{% extends 'base.html' %}

{% block content %}

{% if form %}
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="View" />
</form>

{% else %}
{% if messages %}
{% for message in messages %}

<p>{{message}}</p>

{% endfor %}

{% endif %}

<h3>{{title}} Transactions</h3>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Details</th>
      <th>Principal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for transaction in transactions.all %}

    <th scope="row">{{forloop.counter}}</th>
    {% if transaction.account %}
    <td>{{ transaction.account }}</td>

    {% else %}
    <td>{{ transaction.loan_num }}</td>

    {% endif %}
    <td>{{title}}</td>
    <td>{{ transaction.principal }}</td>
    </tr>

    {% endfor %}
    <tr>
      <th scope="row">Total</th>
      <td>{{ transactions_sum }}</td>
    </tr>
  </tbody>
</table>
<hr>

{% endif %}

{% endblock content %}
