{% extends 'base.html' %}

{% block content %}
<h3>Savings AC</h3>
<p>Name: {{ saving_ac.owner }}</p>
<p>Amount: {{ saving_ac.current_balance }}</p>
<a href="{% url "savings:depositpk" pk=saving_ac.pk %}">Deposit</a>
<br />
<a href="{% url "savings:withdrawpk" pk=saving_ac.pk %}">Withdraw</a>
<br />

<h3>Loans Ac</h3>
<p>Name: {{loan_ac.owner}}</p>
<p>Amount: {{ loan_ac.total_principal }}</p>
<a href="{% url "loans:issuepk" pk=loan_ac.pk %}">Issue</a>
<a href="{% url "loans:paypk" pk=loan_ac.pk %}">Pay</a>
<a href="{% url "loans:get_loanpk" pk=loan_ac.pk %}">Approve</a>
<br />
{% for loan in pending_loan %}
<p>{{loan}} : {{loan.status}} : <a href="{% url 'loans:approvepk' pk=loan.loan_num %}">{{ loan.loan_num }}</a></p>
{% endfor %}
<br />

{% for loan in approved_loan %}
<p>{{loan}} : {{loan.status}} : <a href="{% url 'loans:approvepk' pk=loan.loan_num %}">{{ loan.loan_num }}</a></p>
{% endfor %}

<h3>Shares Ac</h3>
<p>Name: {{loan_ac.owner}}</p>
<p>Amount: {{ share_ac.current_share}}</p>
<a href="{% url "shares:buypk" pk=share_ac.pk %}">Buy</a>
<a href="{% url "shares:sellpk" pk=share_ac.pk %}">Sell</a>
<br />


{% endblock %}
